<%- model_class = Opportunity -%>
<div class="page-header">
  <h1><%=t '.title', :default => Opportunity %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:price_offering) %></th>
      <th><%= model_class.human_attribute_name(:additional_expenses) %></th>
      <th><%= model_class.human_attribute_name(:monthly_rent) %></th>
      <th><%= model_class.human_attribute_name(:service_charges) %></th>
      <th><%= model_class.human_attribute_name(:profit_method_1) %></th>
      <th><%= model_class.human_attribute_name(:profit_method_2) %></th>
      <th><%= model_class.human_attribute_name(:qm) %></th>
      <th><%= model_class.human_attribute_name(:administration_costs_in_percent) %></th>
      <th><%= model_class.human_attribute_name(:equity) %></th>
      <th><%= model_class.human_attribute_name(:bank_rate) %></th>
      <th><%= model_class.human_attribute_name(:cash_flow) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @opportunities.each do |opportunity| %>
      <tr>
        <td><%= opportunity.id %></td>
        <td><%= opportunity.address %></td>
        <td><%= opportunity.price_offering %></td>
        <td><%= opportunity.additional_expenses %></td>
        <td><%= opportunity.monthly_rent %></td>
        <td><%= opportunity.service_charges %></td>
        <td><%= opportunity.profit_method_1 %></td>
        <td><%= opportunity.profit_method_2 %></td>
        <td><%= opportunity.qm %></td>
        <td><%= opportunity.administration_costs_in_percent %></td>
        <td><%= opportunity.equity %></td>
        <td><%= opportunity.bank_rate %></td>
        <td><%= opportunity.cash_flow %></td>
        <td><%= opportunity.name %></td>
        <td><%=l opportunity.created_at, format: :long %></td>
        <td>
          <%= link_to opportunity_path(opportunity), :class => 'btn btn-xs', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
            <%= glyph 'info-sign' %>
            <%= glyph 'pencil' %>
          <%- end -%>
          <%= link_to opportunity_path(opportunity), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs', :title => "#{ t('.destroy', :default => t('helpers.links.destroy')) }" do %>
            <%= glyph 'remove' %>
          <%- end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_opportunity_path,
            :class => 'btn btn-primary' %>
